body {
    font-family: 'Muli', sans-serif;
}

/* navigation bar */

nav, a, ul {
    list-style-type: none;
    background: #333a35;
    margin: 10px;
    padding: 5px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 19px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav, a:hover {
    color: #eca419;
}

/* Header */

.container {
    display: flex;
    font-family: arial;
    color: white;
    font-size: 20px;
}

.box {
    display: flex;
    flex-direction: column;
}

#border {
    border-bottom: 3px solid #eca419;
}

.desert {
    width: 780px;
    height: 477px;
    background-image: url('images/desert780x477.jpg');
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.stream, .relax {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.stream {
    width: 420px;
    height: 240px;
    background-image: url('images/stream420x240.jpg');
}

.relax {
    width: 420px;
    height: 237px;
    background-image: url('images/relax420x237.jpg');
}

.desert h2 {
    margin-bottom: 50px;
}

.stream h2, .relax h2 {
    margin-left: 20px;
}

/* Middle Section */
.articlesContainer {
    width: 100%;
}

.articles, .articleTitles {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    
    
}
.articles {
    margin-top: 40px;
}

.articleTitles {
    margin-top: 0px;
    padding-left: 30px;
    
}

/* Bottom Section */

.gearContainer {
    background-color: #dfd7c7;
}

#gearTitle {
    color: #eca419;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.gearArticles {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: white;
    margin: 100px;
    margin-top: 0px;
    padding: 50px;
}

.gearImg {
    display: flex;
    flex-direction: row;
}

.gearP {
    display: flex;
    flex-direction: row;
}