/* you can try text-align: center; etc for stuff like lining up the text with the boxes */

body {
    background-color: teal;
    font-family: 'Muli', sans-serif;
}

form {
    background-color: lightgrey;
    
}

input {
    display: flex;
    justify-content: flex-end
}

input[type=text], input[type=email] {
    width: 100% border: 10px solid gray;
    border-radius: 4px;
}

#comments {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}

button {}